<div id="home-partial">
	<h1>Welcome to da Internet <%this.user.name%></h1>
	<h2>Why Work D.A.M.N.I.T?</h2>
	<p>
		We rly need 2 get organise, so r web masters made us dis rly neet applikation (itz ovah 9000). Teh mane abjective is 2 do better wen we get distracted by Beyondsay and Drak and teh Bachler n stuf. Maek SURE u keep trak of ur task so we kno how good we r doin.
	</p>
	<div class="row">
		<div class="large-4 columns">
			<img src="../assets/typing.gif"/>
		</div>
		<div class="large-8 columns">
			<h3>How 2</h3>
			<h4>Tasks</h4>
			<p>Wen you rly need 2 keep trak of wut u r doin u can use a task. A taks wil has a descripshin of wut u need 2 do an then wen ur dun u can jus have a snack n kick bak! </p>
		</div>
	</div>
	
	<p></p>
</div>
